.page-body-user-right{
    display: flex;
}
.page-user-detail{
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    padding: 16px 12px 24px 12px;
    display: flex;
    flex:1;
    flex-direction: column;
    gap:10px;
    font-family: 'Roboto', sans-serif;
    width: auto;
    animation: flipDown ease 0.5s;
}
.page-user-control-header{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    flex-direction: row;
    gap:6px;
}
.user-detail-fullName{
    color: #138dff;
    font-weight: 600;
}
.content-user-detail-default{
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    padding: 16px 12px 24px 24px;
    display: flex;
    justify-content: center;
    flex:1;
    flex-direction: column;
    gap:10px;
    font-family: 'Roboto', sans-serif;
    width: auto;
}
.content-user-detail-default{
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-user-detail-default{
    color: #1890ff;
    width:auto;
    height:50px;
}
.user-default-title{
    font-size: 16px;
    font-weight: 500;
}
.user-default-caption{
    font-size: 14px;
    font-weight: 400;
    color: #6f757e;
}
.page-user-divider{
    height: 1px;
    background: rgba(0,0,0,0.1);
}