.detail-document-card{
    background: #eef7ff;
    border-radius: 12px;
    padding: 20px 12px 20px 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.9;
    border: 1px solid #b6d8ff;
    position: relative;
    flex:1;
    line-height: 2.2;
}

.btn-edit-candidate.document{
    top:2%;
}

.detail-document-title{
    display: flex;
    align-items: center;
    gap:6px;
    font-size: 16px;
    color: #1ca3ec;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
