.candidate-exam-batch{
    font-size: 15px;
    font-weight: 400;
    border-radius: 20px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content:center;
}
.badge-candidate-exam-batch{
    gap:4px;
    font-size: 15px;
    font-weight: 400;
}
.badge-candidate-exam-batch-empty{
    opacity: 0.3;
}
