.candidate-row.expanded{
    position: relative;
    background-color: #e5eff8c0;
}

.candidate-row.expanded::before{
    content: '';
    position: absolute;
    border-bottom: none;
}

.expand-icon{
    transition: transform 0.4s ease;
}

.expand-icon.expanded{
    transform: rotate(180deg);
}

.candidate-row {
    animation: rowAppear 0.75s ease-out;
    display: grid;
    grid-template-columns: 
        var(--candidate-col-no)
        var(--candidate-col-info)
        var(--candidate-col-contact)
        var(--candidate-col-consultation)
        var(--candidate-col-source)
        var(--candidate-col-exam)
        1fr;
    height: var(--candidate-row-height);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.candidate-row:last-child{
    border-bottom: none;
}
.candidate-header{
    display: grid;
    grid-template-columns: 
        var(--candidate-col-no)
        var(--candidate-col-info)
        var(--candidate-col-contact)
        var(--candidate-col-consultation)
        var(--candidate-col-source)
        var(--candidate-col-exam)
        1fr;
    height:84px;
    align-items: center;
 }
.candidate-table{
    min-height: var(--candidate-table-height);
}
.candidate-row:hover{
    background: #f8fbff;
    box-shadow: inset 4px 0 0 #1890ff;
    cursor: pointer;
}
.candidate-no{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
}
@keyframes rowAppear {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1366px){
    :root{
        --candidate-row-height: 85px;
        --candidate-table-height: 445px;

        --candidate-col-no: 40px;
        --candidate-col-info: 220px;
        --candidate-col-contact: 150px;
        --candidate-col-consultation: 110px;
        --candidate-col-source: 130px;
        --candidate-col-exam: 70px;
    }
}
@media (min-width: 1367px) and (max-width: 1600px){
    :root{
        --candidate-row-height: 85px;
        --candidate-table-height: 545px;

        --candidate-col-no: 40px;
        --candidate-col-info: 220px;
        --candidate-col-contact: 150px;
        --candidate-col-consultation: 110px;
        --candidate-col-source: 130px;
        --candidate-col-exam: 70px;
    }
}
@media (min-width: 1601px){
    :root{
        --candidate-row-height: 85px;
        --candidate-table-height: 720px;

        --candidate-col-no: 60px;
        --candidate-col-info: 250px;
        --candidate-col-contact: 170px;
        --candidate-col-consultation: 130px;
        --candidate-col-source: 150px;
        --candidate-col-exam: 100px;
    }
}