.navigation-section{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f6f6f6;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 6px;
    width: fit-content;
}

.btn-nav{
    border-radius: 8px;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    color: #0995d5;
}
.btn-nav.active{
    color: #ffffff;
    background-color: #0995d5;
}