.user-control-content{
    border: 1px solid #e8e7e7;
    background-color: rgba(221, 50, 50, 0.143) ;
    border-radius: 10px;
    padding: 16px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:14px;
}
.user-control-caption{
    font-size: 12px;
    font-weight: 200;
}

.user-control-action{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.btn-reset-password-user,
.btn-delete-user{
    font-size: 12px;
    font-weight: 400;
    width: unset;
    height: unset;
    height: 35px;
    background-color: #ffffff;
}
.btn-reset-password-user:hover,
.btn-delete-user:hover{
    background-color: #f5f5f7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
}
.btn-reset-password-user svg,
.btn-delete-user svg{
    color: red;
    width: auto;
    height: 15px;
}
