.candidate-source{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    position: relative;
}

.candidate-source:after{
    content: attr(data-tooltip);
    position: absolute;
    bottom: 80%;
    left: 50%;
    transform: translateX(-50%);

    background: #1ca3ec;
    color: white;

    padding: 6px 10px;
    border-radius: 6px;

    font-size: 13px;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.candidate-source:hover::after{
    opacity: 1;
    visibility: visible;
}