.candidate-toolbar-content{
    display: flex;
    gap:12px;
    justify-content: flex-end;
    flex: 1;
}
.input-candidate-toolbar{
    height: 36px;
    font-size: 14px;
    background-color: #f4f5f9;
    border: 1px solid rgb(227, 227, 227);
}
.btn-add-new-candidate{
    height: 36px;
    font-size: 14px;
    border-radius: 14px;
}
.btn-search-candidate{
    height: 36px;
    font-size: 14px;
    border-radius: 14px;
}

.input-candidate-toolbar.search{
    width:500px;
}
