.btn-language-switcher{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    margin-top: 10px;
}
.language{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:6px;
    font-size: 16px;
    font-weight: 500;
}
.icon-country{
    font-size: 16px;
}