.candidate-expanded-status-detail{
    padding: 16px 50px 15px 50px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    background: #ffffff;
    margin: 20px 40px 20px 40px;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(5, auto);
    gap:12px 60px;
}
